{<<"app">>,<<"emqtt">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Erlang MQTT v5.0 Client">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/emqtt.hrl">>,<<"rebar.config">>,
  <<"rebar.config.script">>,<<"rebar.lock">>,<<"src/emqtt.app.src">>,
  <<"src/emqtt.erl">>,<<"src/emqtt_frame.erl">>,<<"src/emqtt_props.erl">>,
  <<"src/emqtt_sock.erl">>,<<"src/emqtt_ws.erl">>]}.
{<<"licenses">>,[<<"Apache-2.0">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/emqx/emqtt">>}]}.
{<<"name">>,<<"emqtt">>}.
{<<"requirements">>,
 [{<<"gun">>,
   [{<<"app">>,<<"gun">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"1.3.0">>}]}]}.
{<<"version">>,<<"1.0.0">>}.
